
@charset "utf-8";

.leaflet-routing-container,.leaflet-bar, .leaflet-routing-collapsible, .leaflet-control{
    visibility: hidden;
}
.map{
    margin-top: 50px;
}
.weather{
    background-color: #ddd;
}
.day{
    text-align: center;
}